In [1]:
import pathlib
import pandas as pd

In [2]:
our_md5_file = "md5sum_check_ours.txt"
their_md5_file = "idr0080-way-perturbation-20200805-s3.ms5sums"

In [29]:
our_df = pd.read_csv(our_md5_file, sep=" ", header=None).drop([1], axis="columns")
our_df.columns = ["md5", "file_name"]
print(our_df.shape)
our_df.head()

(138247, 2)

,md5,file_name
0,428eebd360ffa11a20d07c47b3485c89,./illum_corrected_file_list.txt
1,194577a7e20bdcc7afbb718f502c134c,./images/SQ00014610/Images/.DS_Store
2,0d3c88fa0c0b58081785a12486cfeda9,./images/SQ00014610/Images/cp.is.done
3,d542db49afbc3494553c0e1e36704821,./images/SQ00014610/Images/r01c01f01p01-ch1sk1...
4,87ff2c74ca9f9ef6b3bc9fbf17598c28,./images/SQ00014610/Images/r01c01f01p01-ch2sk1...

In [30]:
their_df = pd.read_csv(their_md5_file, sep=" ").reset_index(drop=False).drop(["level_1"], axis="columns")
their_df.columns = ["md5", "file_name"]

their_df.file_name = (
    their_df.file_name.str.replace(
        "projects/2015_07_01_Cell_Health_Vazquez_Cancer_Broad/illumcorrected_CRISPR_PILOT_B1", "."
    )
)

print(their_df.shape)
their_df.head()

(138245, 2)

,md5,file_name
0,0d3c88fa0c0b58081785a12486cfeda9,./images/SQ00014610/Images/cp.is.done
1,194577a7e20bdcc7afbb718f502c134c,./images/SQ00014610/Images/.DS_Store
2,d542db49afbc3494553c0e1e36704821,./images/SQ00014610/Images/r01c01f01p01-ch1sk1...
3,87ff2c74ca9f9ef6b3bc9fbf17598c28,./images/SQ00014610/Images/r01c01f01p01-ch2sk1...
4,3d5a58faeea266f0c967d02ae1df6a5a,./images/SQ00014610/Images/r01c01f01p01-ch3sk1...

In [38]:
combined_df = our_df.merge(their_df, on="file_name", how="right", suffixes=["_ours", "_theirs"])
combined_df = combined_df.assign(matched=combined_df.md5_ours == combined_df.md5_theirs)

combined_df.matched.value_counts()

True    138245
Name: matched, dtype: int64